*, *:before, *:after {
    box-sizing: border-box;
}
/** * Eric Meyer's Reset CSS v2.0 (https://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
button {
    background-color: #1F0CE8;
    color: #fff;
    outline: none;
    border: 0;
}
button:hover {
    background-color: #FF7700;
}
.active {
    background-color: #FF7700;
}
nav.menu {
    background: #1F0CE8;
    position: relative;
    min-height: 45px;
    height: 100%;
}
.menu>ul>li {
    list-style: none;
    display: inline-block;
    color: #fff;
    line-height: 60px;
}
.menu>ul li a, .xs-menu li a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 0px 24px 0px;
    margin: 0px;
}
.menu>ul li a:hover {
    background: #FF7700;
    color: #fff;
    transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}
.displaynone {
    display: none;
}
.xs-menu-cont {
    display: none;
}
.xs-menu-cont>a {
    background: none repeat scroll 0 0 #ff7f50;
    border-radius: 3px;
    padding: 3px 6px;
    display: block;
    border-bottom: 1px solid #E67248;
    box-shadow: 0 1px 2px #e67248;
    -webkit-box-shadow: 0 1px 2px #e67248;
    -moz-box-shadow: 0 1px 2px #e67248;
}
.xs-menu-cont>a:hover {
    cursor: pointer;
}
.xs-menu li {
    color: #fff;
    padding: 14px 30px;
    border-bottom: 1px solid #ccc;
    background: #FF7F50;
}
.xs-menu a {
    text-decoration: none;
}
.mega-menu {
    background: none repeat scroll 0 0 #888;
    left: 0;
    margin-top: 3px;
    position: absolute;
    width: 100%;
    padding: 15px;
    display: none;
    transition-duration: 0.9s;
}
#menutoggle i {
    color: #fff;
    font-size: 33px;
    margin: 0;
    padding: 0;
}
/*--column--*/

.mm-6column:after, .mm-6column:before, .mm-3column:after, .mm-3column:before {
    content: "";
    display: table;
    clear: both;
}
.mm-6column, .mm-3column {
    float: left;
    position: relative;
}
.mm-6column {
    width: 50%;
}
.mm-3column {
    width: 25%;
}
.responsive-img {
    display: block;
    max-width: 100%;
}
.left-images {
    margin-right: 25px;
}
.left-images, .left-categories-list {
    float: left;
}
.categories-list li {
    display: block;
    line-height: normal;
    margin: 0;
    padding: 5px 0;
}
.categories-list li :hover {
    background: inherit !important;
}
.left-images>p {
    background: none repeat scroll 0 0 #ff7f50;
    display: block;
    font-size: 18px;
    line-height: normal;
    margin: 0;
    padding: 5px 14px;
}
.categories-list span {
    font-size: 18px;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.mm-view-more {
    background: none repeat scroll 0 0 #ff7f50;
    color: #fff;
    display: inline !important;
    line-height: normal;
    padding: 5px 8px !important;
    margin-top: 10px;
}
.display-on {
    display: block;
    transition-duration: 0.9s;
}
.drop-down>a:after {
    content: "\f103";
    color: #fff;
    font-family: FontAwesome;
    font-style: normal;
    margin-left: 5px;
}
/*MediaQuerys*/

@media (max-width: 600px) {
    .menu {
        display: none;
    }
    .xs-menu li a {
        padding: 0px;
    }
    .xs-menu-cont {
        display: block;
    }
}
/*Animation--*/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
p {
    padding: 0,
}